
.footer{
    background-color: rgb(54, 8, 54);
}
.navbar{
    background-color: rgb(54, 8, 54);
}
.breadcrumb{
    background-color: rgb(194, 164, 209);
}
input { margin-right: 6px; }
.form{
    background-color: rgb(54, 8, 54);
}