.footer{
    background-color: rgb(54, 8, 54);
}
.navbar{
    background-color: rgb(54, 8, 54);
}
.header{
    background-color: rgb(54, 8, 54);
    height: 70px;
}
.breadcrumb{
    background-color: rgb(238, 177, 238);
    font-size: 30px;
}
input { margin-right: 6px; }

.cont .fas{
    padding: 40px;
}
.email{
    margin-left: 560px;
}
.pass{
    margin-top: -20px;
    margin-left: 560px;
}