
<center><h1>Add New Sensor</h1></center>
</br>

<div class="media justify-content-center">

  <div class="row col-md-auto justify-content-center">
    <div class="col-md-auto d-none d-ml-auto"></div>
    <div class="col-md-auto ">

<div class="card text-center">
  <div class="card-body">

<table class="table">
  <thead class="thead-dark">
    <tr>

      <th class="bg-dark text-white" scope="row">Sensor</th>
      <th scope="col">Data</th>

    </tr>
  </thead>

  <tbody>
    <tr>
      <th class="bg-dark text-white" scope="row">Name</th>
      <td>
          <form>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Name">
              </div>
        </form>
      </td>

    </tr>
    <tr>
      <th class="bg-dark text-white" scope="row">Status</th>
      <td>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
				  <label class="custom-control-label" for="customRadioInline1">Working</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
				  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
				  <label class="custom-control-label" for="customRadioInline2">Not Working</label>
				</div>
		</td>
    </tr>
    <tr>
      <th class="bg-dark text-white" scope="row">IP</th>
      <td>
          <form>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="IP">
              </div>
        </form>
      </td>
    </tr>
    <tr>
      <th class="bg-dark text-white" scope="row">Port</th>
      <td>
          <form>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Port">
              </div>
        </form>
      </td>
    </tr>

	<tr>
		<th class="bg-dark text-white" scope="row">Active</th>
			<td>
				<div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">True</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">False</label>
                </div>
			</td>
	</tr>

	<tr>
      <th class="bg-dark text-white" scope="row">User Associated</th>
      <td>
          <form>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="User Associated">
              </div>
        </form>
      </td>

    </tr>

  </tbody>
</table>
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-save"></i></i> Save</button>
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-window-close"></i></i> Cancel</button>
</p>
		</div>

	</div>

</div>

<div class="col-md-auto d-none d-md-block thead-dark"></div>

  </div>



