<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Detailed-Verified-Seisms</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="detailedverifiedseism.css">
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
  <script>
    $(function () { $('[data-toggle="tooltip"]').tooltip() })
  </script>

  <!-- Header -->
  <header>
    <div class="col-sm-12 col-md-12"></div>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#"><i class="fas fa-arrow-left fa-2x fa-lg"></i></a>
        <div class="navbar-nav text-light ml-auto">
          <div class="nav text-light">
            <div class="dropdown-menu" aria-labelledby="dropdownMenuBoton">
              <a href="#" class="dropdown-item">Verified Seisms</a>
              <a href="#" class="dropdown-item">Users</a>
              <a href="#" class="dropdown-item">Sensors</a>
              <a href="#" class="dropdown-item">Log Out</a>
            </div>
          </div>
          <a class="nav" href="#"><i class="fas fa-home fa-2x fa-lg"></i></a>
          <button class="fas fa-server fa-2x fa-lg" type="button" id="dropdownMenuBoton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
          </button>
        </div>
    </div>
    </nav>
  </header>
  <!-- Breadcrumb -->
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" >
          <li class="breadcrumb-item"><a class="text-dark" href="#">Home</a></li>
          <li class="breadcrumb-item"><a class="text-dark" href="#">Users</a></li>
          <li class="breadcrumb-item active" class="text-light aria-current="page">Add User</li>
        </ol>
      </nav>
    </div>
  </div>

  <!-- Contenido -->
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form>
            <div class="form-group row">
                <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                  <input type="search" class="form-control" id="inputEmail" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
              </div>

            </div>

      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <form>
              <div class="form-group row">
                <label for="inputLatitude" class="col-sm-2 col-form-label">Admin</label>
                <div class="col-sm-6">
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">True</label>
              </div>
              <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">False</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <form>
              <button class="btn btn-outline-dark my-2 my-sm-1 center" type="submit"><i class="fas fa-save"></i> Save </i></button>
              <button class="btn btn-outline-dark my-2 my-sm-1 center" type="submit"><i class="fas fa-window-close"></i> Cancel </i></button>
            </form>
          </div>
        </div>
      </div>
    </main>
  <!-- Footer -->
  <footer class="footer mt-auto py-3">
    <div class="row">
        <div class="col-sm-12 col-md-5"></div>
            <div class="text-center text-light">
                <a class="text-light" href="#">Verified Seisms</a> | <a class="text-light" href="#"> Sensors</a> | <a class="text-light" href="#"> Users </a>
            </div>
    </div>
  </footer>

</body>

</html>