<!-- Hereda del template main -->
{% extends "main.html" %} {# Herencia #}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

<!-- Importar macros de formulario -->
{% from "form_macros.html" import show_field, show_submit, show_checkbox %}

<!-- Define el contenido -->
{% block content %}
<!-- Contenido -->
<div class="container">
  <div class="row">
    <div class="col-md-4 d-none d-md-block"></div>
    <div class="col-auto justify-content-center">
      <h1>Edit Seism</h1>
      <br>
      <form method="POST" action="{{ url_for("unverified_seism.edit", id=id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="form-group">
          <div class="col-auto">
            {{show_field(form.depth, type="form-control")}}
          </div>
        </div>

        <div class="form-group">
          <div class="col-auto">
            {{show_field(form.magnitude, type="form-control")}}
          </div>
        </div>

        <div class="form-group">
          <div class="col-auto">
            {{show_field(form.verified, type="checkbox")}}
          </div>
        </div>

        <div class="col-auto">
          {{show_submit(form.submit, class="btn btn-success")}}
        </div>

      </form>
    </div>
    <div class="col-md-4 d-none d-md-block"></div>
  </div>
</div>
<!-- Fin Contenido -->
{% endblock %}