
<center><h1>Edit Unverified Seism {{unverified_seism.id}}</h1></center>
</br>

<div class="media justify-content-center">

  <div class="row col-md-auto justify-content-center">
    <div class="col-md-auto d-none d-ml-auto"></div>
    <div class="col-md-auto ">

<div class="card text-center">
  <div class="card-body">

<table class="table">
  <thead class="thead-dark">
    <tr>

      <th class="bg-dark text-white" scope="row">Seism</th>
      <th scope="col">Data</th>

    </tr>
  </thead>

  <tbody>
    <tr>
      <th class="bg-dark text-white" scope="row">DATE TIME</th>
      <td>
          <form>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Date"><input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Time">
              </div>
        </form>
      </td>

    </tr>
    <tr>
    </tr>
    <tr>
      <th class="bg-dark text-white" scope="row">DEPTH</th>
      <td>
          <form>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Depht">
              </div>
        </form>
      </td>
    </tr>
    <tr>
      <th class="bg-dark text-white" scope="row">MAGNITUDE</th>
      <td>
          <form>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Magnitude">
              </div>
        </form>
      </td>
    </tr>

	<tr>
		<th class="bg-dark text-white" scope="row">LONGITUDE</th>
        <td>
          <form>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Longitude">
              </div>
        </form>
      </td>
	</tr>

	<tr>
      <th class="bg-dark text-white" scope="row">LATITUDE</th>
      <td>
          <form>
              <div class="form-group">
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Latitude">
              </div>
        </form>
      </td>

    </tr>
  <tr>
      <th class="bg-dark text-white" scope="row">SENSOR</th>
      <td>
          <form>
              <select class="form-control">
                  <option selected>Select one option for filter</option>
                    <option>{{unverified_seism.sensor.name}}</option>
              </select>
        </form>
      </td>

    </tr>

  </tbody>
</table>
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-save"></i></i> Save</button>
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fas fa-window-close"></i></i> Cancel</button>
</p>
		</div>

	</div>

</div>

<div class="col-md-auto d-none d-md-block thead-dark"></div>

  </div>



