{% extends "main.html" %}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

<!-- Define el contenido -->
{% block content %}
  <!-- Contenido -->
<main>
	<center><h1>Select an Option</h1></center>

	<div class="row justify-content-center">
		{% if current_user.admin %}
	  <div class="col-sm-auto">

		<div class="card">
		  <div class="card-body">
		<img src="/static/img/sensor.jpeg" class="img-circle">
			<p class="card-text"></p>
		  </div>
             <a type="button" class="btn btn-sm" data-toggle="tooltip" href="{{url_for('sensor.index')}}">SENSORS</a>
		</div>
	  </div>
		{% endif %}

	  <div class="col-sm-auto">
		<div class="card">
		  <div class="card-body">
		<img src="/static/img/seism.jpeg">
			<p class="card-text"></p>
		  </div>
            <a type="button" class="btn btn-sm" data-toggle="tooltip" href="{{url_for('verified_seism.index')}}">VERIFIED SEISMS</a>
		</div>
	  </div>

		{% if current_user.admin %}
	  <div class="col-sm-auto">
		  <div class="card">
		    <div class="card-body">
		  <img src="/static/img/users2.jpeg" class="img-circle">
			  <p class="card-text"></p>

		    </div>
               <a type="button" class="btn btn-sm" data-toggle="tooltip" href="{{url_for('user.index')}}">USERS</a>
		  </div>

	  </div>
	{% endif %}
		{% if current_user.is_authenticated %}
	  <div class="col-sm-auto">
		<div class="card">
		  <div class="card-body">
		<img src="/static/img/unverifiedseism.jpeg" class="img-circle">
			<p class="card-text"></p>
		  </div>

				<a type="button" class="btn btn-sm" data-toggle="tooltip" href="{{url_for('unverified_seism.index')}}">UNVERIFIED SEISMS</a>

		</div>

	  </div>
	{% endif %}
	</div>


</br></br></br></br></br></br>
</main>
{% endblock %}
