{% macro show_unverified_seism(unverified_seism) %}
<tr>
    <th scope="row">{{unverified_seism.id}}</th>
    <td>{{unverified_seism.datetime}}</td>
    <td>{{unverified_seism.depth}}</td>
    <td>{{unverified_seism.magnitude}}</td>
    <td>{{unverified_seism.latitude}}</td>
    <td>{{unverified_seism.longitude}}</td>
    <td>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm" data-toggle="tooltip" title="view">
          <a href="{{ url_for('unverified_seism.view',id=unverified_seism.id) }}"><i class="fas fa-eye"></i></a>
        </button>
        <button type="button" class="btn btn-sm" data-toggle="tooltip" title="delete">
          <a href="#"><i class="fas fa-trash"></i></a>
        </button>
        <button type="button" class="btn btn-sm" data-toggle="tooltip" title="modify">
          <a href="#"><i class="fas fa-edit"></i></a>
        </button>
      </div>
    </td>
  </tr>
{% endmacro %}
