<!-- Hereda del template main -->
{% extends "main.html" %}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

{% from "form_macros.html" import show_field, show_submit, show_placeholder %}

<!-- Define el contenido -->
{% block content %}
<!-- Contenido -->

  <!-- Filtro -->

<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-auto d-none d-md-block"></div>
      <div class="col-md-auto">
        <h1>Sensors</h1>

          <form method="GET" action="{{ url_for('sensor.index') }}" >
            <div class="form-row">
              <div class="form-group col-md-auto">
                  {{ show_placeholder(filter.name, class='form-control' )}}
              </div>
              <div class="form-group col-md-auto">
                  {{ show_field(filter.status , class='form-check-label')}}
              </div>
              <div class="form-group col-md-auto">
                  {{ show_field(filter.active , class='form-check-label')}}
              </div>
              <div class="form-group col-md-auto">
                  {{ show_placeholder(filter.userId , class='form-control')}}
              </div>
              <div class="form-group col-md-auto">
                  {{show_submit(filter.submit, class='btn btn-success')}}
              </div>
            </div>
          </form>
            <a href="{{ url_for('sensor.create') }}" role="button" class="btn btn-outline-dark my-2 my-sm-1 center" type="submit"><i class="fas fa-plus"></i> Add Sensor </i></a>



        </div>
    </div>

  </br>


  <div class="row justify-content-center">
    <div class="col-md-auto d-none d-md-block"></div>
    <div class="col-md-auto">
      Total: {{pagination.total}}
      <table class="table table-bordered table-responsive">
        <thead class="thead">


          <tr>
             <th scope="col">ID</th>
              <th scope="col">
                {% if request.args.sort_by == "name.desc"  %}
                <a class="text-white" href="{{ url_for('sensor.index',
                sort_by = 'name.asc',
                name = request.args.name,
                status = request.args.status,
                active = request.args.active,
                userId = request.args.userId )}}">Name</a>
                {% else %}
                <a class="text-white" href="{{ url_for('sensor.index',
                sort_by = 'name.desc',
                name = request.args.name,
                status = request.args.status,
                active = request.args.active,
                userId = request.args.userId )}}">Name</a>
                {% endif %}
              </th>
              <th scope="col">
                {% if request.args.sort_by == "status.desc" %}
                <a class="text-white" href="{{ url_for('sensor.index',
                sort_by = 'status.asc',
                name = request.args.name,
                status = request.args.status,
                active = request.args.active,
                userId = request.args.userId )}}">Status</a>
                {% else %}
                <a class="text-white" href="{{ url_for('sensor.index',
                sort_by = 'status.desc',
                name = request.args.name,
                status = request.args.status,
                active = request.args.active,
                userId = request.args.userId )}}">Status</a>
                {% endif %}
              </th>
              <th scope="col">
                {% if request.args.sort_by == "active.desc" %}
                <a class="text-white" href="{{ url_for('sensor.index',
                sort_by = 'active.asc',
                name = request.args.name,
                status = request.args.status,
                active = request.args.active,
                userId = request.args.userId )}}">Active</a>
                {% else %}
                <a class="text-white" href="{{ url_for('sensor.index',
                sort_by = 'active.desc',
                name = request.args.name,
                status = request.args.status,
                active = request.args.active,
                userId = request.args.userId )}}">Active</a>
                {% endif %}
              </th>
              <th scope="col">
                {% if request.args.sort_by == "user.email.desc" %}
                <a class="text-white" href="{{ url_for('sensor.index',
                sort_by = 'user.email.asc',
                name = request.args.name,
                status = request.args.status,
                active = request.args.active,
                userId = request.args.userId )}}">User Associated</a>
                {% else %}
                <a class="text-white" href="{{ url_for('sensor.index',
                sort_by = 'user.email.desc',
                name = request.args.name,
                status = request.args.status,
                active = request.args.active,
                userId = request.args.userId )}}">User Associated</a>
                {% endif %}
              </th>
              <th scope="col">Actions</th>
          </tr>

        </thead>
        <tbody>

          {% for sensor in sensors %}
          {{ macro.show_sensor(sensor) }}
          {% endfor %}

        </tbody>
      </table>
    </div>
    <div class="col-md-auto d-none d-md-block thead-dark"></div>
  </div>


<br>

<!-- Pagination -->
  <nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
      <!-- Boton de página anterior, desactivar si se está en la primera página -->
      {% if pagination.current_page != 1 %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('sensor.index',
        page = (pagination.current_page-1),
        sort_by = request.args.sort_by,
        name = request.args.name,
        status = request.args.status,
        active = request.args.active,
        userId = request.args.userId )}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span></a>
      </li>
      {% endif %}
      <!-- Recorrer cantidad de páginas para el filtrado actual -->
      {% for n in range(1, pagination.pages+1) %}
      <!-- Boton para cada página, desactivar para página actual -->
      {% if n != pagination.current_page %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('sensor.index',
        page = n,
        sort_by = request.args.sort_by,
        name = request.args.name,
        status = request.args.status,
        active = request.args.active,
        userId = request.args.userId )}}">{{n}}</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="+1" aria-disabled="true">{{n}}</a>
      </li>
      {% endif %}
      {% endfor %}
      <!-- Boton de página siguiente, desactivar si se está en la última página -->
      {% if pagination.current_page != pagination.pages %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('sensor.index',
        page = (pagination.current_page+1),
        sort_by = request.args.sort_by,
        name = request.args.name,
        status = request.args.status,
        active = request.args.active,
        userId = request.args.userId )}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Next">
          <span aria-hidden="true">&raquo;</span></a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
<br>
<!-- Fin Contenido -->
{% endblock %}
