{% extends "main.html" %}
{% block content %}
  <!-- Contenido -->
<main>
    <div class="cont">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2>Detailed Unverified Seism {{unverified_seism.id}}</h2>
                <table>
                    <tr>
                        <th scope="col " class = "p-2">DATE TIME:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-white ">{{unverified_seism.datetime}} </span></th>
                    <tr>
                        <th scope="col" class = "p-2">MAGNITUDE:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-white">{{unverified_seism.magnitude}}</span></th>
                    </tr>
                    <tr>
                        <th scope="col" class = "p-2">DEPHT:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-white">{{unverified_seism.depth}}</span></th>
                    </tr>
                    <tr>
                        <th scope="col" class = "p-2">LATITUDE:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-white">{{unverified_seism.latitude}}</span></th>
                    </tr>
                    <tr>
                        <th scope="col" class = "p-2">LONGITUDE:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-white">{{unverified_seism.longitude}}</span></th>
                    </tr>
                    <tr>
                        <th scope="col" class = "p-2">SENSOR:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-white">{{unverified_seism.sensor.id}}</span></th>
                    </tr>
                </table>
            </div>

            <div class="col-md-5">
                <div class="google-maps"> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.623535052992!2d-68.32964168519837!3d-34.613679980456844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967907fb83d8ff41%3A0xc950900df2c99fb6!2sUniversidad%20de%20Mendoza%20Sede%20San%20Rafael!5e0!3m2!1ses-419!2sar!4v1591140827045!5m2!1ses-419!2sar"
                    width="300" height="300" frameborder="0" style="border:0;width: 100% !important;top: 20px;left: 0 "
                    allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pagination justify-content-center">
            <button type="button" class="btn btn-sm " data-toggle="tooltip">
                <i class="fas fa-trash"></i>DELETE
            </button>
            <button type="button" class="btn btn-sm" data-toggle="tooltip">
                <i class="fas fa-download"></i>DOWNLOAD
            </button>
        </div>
    </div>
</main>
{% endblock %}