{% extends "main.html" %}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

<!-- Define el contenido -->
{% block content %}
  <!-- Contenido -->
  <main>
    <!-- Filtro -->
  <form class="form-inline my-2 my-lg-0 justify-content-center">
    <a href="{{ url_for('user.create') }}" role="button" class="btn btn-outline-dark my-2 my-sm-1 center" type="submit"><i class="fas fa-save"></i> Add user </i></a>
  </form>
    <div class="container">
      <div class="row">
        <div class="col-md-2 d-none d-md-block"></div>
        <div class="col-md-auto">
          <table class="table  table-striped table-hover table-bordered table-responsive ">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Admin</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              {{ macro.show_user(user) }}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-2 d-none d-md-block"></div>
      </div>
  </main>
  {% endblock %}