<!-- Hereda del template main -->
{% extends "main_admin.html" %}

<!-- Importar el archivo de macros -->
{% import 'macros.html' as macros %}

<!-- Define el contenido -->
{% block content %}
<!-- Contenido -->
<form class="form-inline my-2 my-lg-0 justify-content-center">
    <i class="fas fa-filter fa-2x fa-lg"></i>
      <select class="custom-select">
        <option selected>Select one option for filter</option>
        <option value="1">Date Time</option>
        <option value="2">Depth</option>
        <option value="3">Magnitude</option>
        <option value="4">Latitude</option>
        <option value="5">Longitude</option>
        <option value="6">Sensors</option>
      </select>
    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Filter</button>
     Date Time:<input class="form-control mr-sm-1" type="datetime" placeholder="Since" aria-label="Since">
    <input class="form-control mr-sm-1" type="datetime" placeholder="Until" aria-label="Until">
    <i class="fas fa-sort-alpha-down fa-2x fa-lg"></i>
      <select class="custom-select">
        <option selected>Select one option for filter</option>
        <option value="1">A-Z</option>
        <option value="2">Z-A</option>
      </select>
  </form>

  </br>
<main>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-2 d-none d-md-block"></div>
      <div class="col-md-8">
        <h1>Verified Seisms</h1>

        <!-- Tabla -->
        <div class="table-responsive text-center">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Date Time</th>
                <th scope="col">Depth</th>
                <th scope="col">Magnitude</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>

              {% for verified_seism in verified_seisms %}
              {{ macros.show_verified_seism(verified_seism) }}
              {% endfor %}

            </tbody>
          </table>
        </div>

      </div>
      <div class="col-md-2 d-none d-md-block"></div>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</main>
<!-- Fin Contenido -->
{% endblock %}