{% extends "main.html" %}
{% block content %}
  <!-- Contenido -->
<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h2>Detailed Verified Seism {{verified_seism.id}}</h2>
                <table>
                    <tr>
                        <th scope="col " class = "p-2">DATE TIME:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-dark ">{{verified_seism.datetime}} </span></th>
                    <tr>
                        <th scope="col" class = "p-2">MAGNITUDE:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-dark">{{verified_seism.magnitude}}</span></th>
                    </tr>
                    <tr>
                        <th scope="col" class = "p-2">DEPHT:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-dark">{{verified_seism.depth}}</span></th>
                    </tr>
                    <tr>
                        <th scope="col" class = "p-2">LATITUDE:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-dark">{{verified_seism.latitude}}</span></th>
                    </tr>
                    <tr>
                        <th scope="col" class = "p-2">LONGITUDE:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-dark">{{verified_seism.longitude}}</span></th>
                    </tr>
                    <tr>
                        <th scope="col" class = "p-2">SENSOR:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-dark">{{verified_seism.sensor.id}}</span></th>
                    </tr>
                </table>
            </div>

            <div class="col-md-5">
                <div class="google-maps"> <iframe src="https://maps.google.com/maps?width=100%25&amp;height=100%25&amp;hl=en&amp;q={{ verified_seism.latitude }},{{ verified_seism.longitude }}&amp;t=k&amp;z=8&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                    width="300" height="300" frameborder="0" style="border:0;width: 100% !important;top: 20px;left: 0 "
                    allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pagination justify-content-center">
            <button type="button" class="btn btn-sm" data-toggle="tooltip">
                <i class="fas fa-download"></i>DOWNLOAD
            </button>
        </div>
    </div>
</main>
{% endblock %}