.footer{
    background-color: rgb(54, 8, 54);
}
.navbar{
    background-color: rgb(54, 8, 54);
}
.breadcrumb{
    background-color: rgb(238, 177, 238);
}
input { margin-right: 6px; }
.form{
    background-color: rgb(54, 8, 54);
}
.navbar-brand{
    color:white;
    padding: 10px;
}.nav{
    color: white;
    padding: 10px;
    position: relative;
}
.navbar-brand:hover{
    color: rgb(238, 177, 238);
    background-color: black;
}
.nav:hover{
    color:rgb(238, 177, 238);
    background-color: black;
}
.nav li a{
    text-decoration: none;
    color: white;
}
.cont{
    margin-left: 50px;
}
.btn{
    background-color: rgb(54, 8, 54);
    border: 2px solid black;
    color: white;
    padding: 20px;
    margin:10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn:hover{
    background-color: black;
    color:rgb(238, 177, 238);
}
#dropdownMenuBoton{
    background-color: rgb(54, 8, 54);
    border: none;
    color: white;
    padding: 10px;
    position: relative;

}
#dropdownMenuBoton:hover{
    background-color: black;
    color:rgb(238, 177, 238);
}
.nav a{
    color: white;
    padding: 15px;
}
.nav .dropdown-menu{
    background-color: rgb(54, 8, 54);
    min-width: 80px;
}