.footer{
    background-color: rgb(54, 8, 54);
}
.navbar{
    background-color: rgb(54, 8, 54);
}
.breadcrumb{
    background-color: rgb(238, 177, 238);
}
input { margin-right: 6px; }
.form{
    background-color: rgb(54, 8, 54);
}
.navbar-brand{
    color:white;
    padding: 10px;
}
.nav{
    color: white;
    padding: 10px;
    position: relative;
}
.navbar-brand:hover{
    background-color: black;
    color: rgb(238, 177, 238);
}
.nav:hover{
    background-color: black;
    color:rgb(238, 177, 238);
}
#dropdownMenuBoton{
    background-color: rgb(54, 8, 54);
    border: none;
    color: white;
    padding: 10px;
    position: relative;

}
#dropdownMenuBoton:hover{
    background-color: black;
    color:rgb(238, 177, 238);
}
.nav a{
    color: white;
    padding: 15px;
}
.nav .dropdown-menu{
    background-color: rgb(54, 8, 54);
    min-width: 80px;
}
.table th{
    background-color:rgb(54, 8, 54);
    color: white;
}
.table td{
    background-color: white;
}
.table tr:hover td{
    color:white;
    background-color: rgb(153, 153, 153);
}
.pagination>li>a {
    background-color: rgb(54, 8, 54);
    color:white;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: white;
    background-color:rgb(0, 0, 0);
    border-color: #ddd;
}


